{% extends "base.html" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Store analytics made easy</h1>
        <p>Visualize traffic flow through your store with our Bluetooth analytics system. Any user who has installed our tracking app will show up on your store analytics page. Find out what users actually do in your store. </p>
        <p><a class="btn btn-primary btn-lg" role="button" href="stores/">View my stores &raquo;</a></p>
      </div>
    </div>

    <hr>
{% endblock %}
